ion-menu {
  --width: 250px;
    
}

ion-header {
  --background: #3880ff;
  --color: white;
}

.no-line ion-toolbar {
  --border-width: 0px;
  border: none;
  box-shadow: none;
}

.welcome-message {
  font-size: 24px;
  font-weight: bold;
  color: #3880ff;
  text-align: center;
  margin-bottom: 20px;
}

.section {
  margin-bottom: 20px;
}

ion-card {
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

ion-card-title {
  font-size: 22px;
  text-align: center;
  color: #222;
}

ion-button {
  --background: #3880ff;
  --border-radius: 8px;
  margin-top: 10px;
}

ion-item {
  --border-radius: 8px;
  margin: 5px 0;
  --padding-start: 16px;
  --padding-end: 16px;
  --min-height: 48px;
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 20px; // Espacio entre las tarjetas
}

.spaced-card {
  margin-top: 40px;   // Ajuste adicional arriba
  margin-bottom: 10px; // Ajuste adicional abajo
}


ion-content {
  --padding-top: 20px;
}

h2 {
  margin-bottom: 10px; // Espacio entre el título y el contenedor principal
}

