.qr-code-img {
    width: 80%; /* Ajusta el tamaño de la imagen al 80% del contenedor */
    max-width: 500px; /* El tamaño máximo será 500px */
    height: auto; /* Mantiene la proporción del QR */
    margin: 0 auto; /* Centra la imagen */
  }