// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
ion-header {
    --background: #ffffff; /* Cambiar fondo a blanco */
  }
  
ion-toolbar {
  --background: #ffffff; /* Cambiar fondo a blanco */
}

ion-title {
  --color: #000000; /* Cambiar fondo a blanco */
}